In [407]:
## Assignment 1 (ndexing)

In [409]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']  #salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [411]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [413]:
# 1. What is the length of the salaries list.

In [415]:
len(salaries)

7

In [417]:
# 2. Retrieve the third salary in the list by using index.

In [419]:
salaries[2]

'50k'

In [421]:
# 3. Extract the last salary from the list by using a negative index.

In [423]:
salaries[-1]

'40k'

In [425]:
# 4. Slice the salaries list to get only the middle three salaries.

In [427]:
middle_value = len(salaries)//2
middle_three_salaries = salaries[middle_value - 1 : middle_value + 2]
middle_three_salaries

['50k', '60k', '35k']

In [429]:
 #  5. Add a new salary to the list, ‘100k’ by using append() method.

In [431]:
new = salaries.copy()
new.append('100k')
print(new)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [433]:
#  5. Add a new salary to the list, ‘120k’ without method.

In [435]:
new1 = salaries.copy()
new1 = new1 + ["120k"]
print(new1)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '120k']

In [437]:
#   6. Replace the third salary in the list with '55k' and print the updated list.

In [439]:
new3 = salaries.copy()
new3[2]='55k'
new3

['20k', '40k', '55k', '60k', '35k', '89k', '40k']

In [441]:
  #  7. Count how many times '40k' appears in the list.

In [443]:
salaries.count('40k')

2

In [361]:
#  8. Insert a new salary at the second position.

In [449]:
new5 = salaries.copy()
new5.insert (1, '10k')
new5

['20k', '10k', '40k', '50k', '60k', '35k', '89k', '40k']

In [365]:
#  9. Reverse the order of the salaries list with method.

In [451]:
new6 = salaries.copy()
new6.reverse()
print(new6)

['40k', '89k', '35k', '60k', '50k', '40k', '20k']

In [453]:
#  10. Reverse the order of the salaries list without method.

In [455]:
new8 = salaries.copy()
new8[::-1]

['40k', '89k', '35k', '60k', '50k', '40k', '20k']