##### Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
##### • Print all elements from my_tuple on a new line (using for loop)
##### • Create a new tuple by concatenating the first and last elements of my_tuple

In [57]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )

print("\nAnswer point 1")
# Answer point 1
for i in my_tuple:
    print(i)   

print("\nAnswer point 2")
# Answer point 2
new_tuple = (my_tuple[0] , my_tuple[-1])
print(new_tuple)

Answer point 1
(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

Answer point 2
((1, 2, 3), [7, 8, 9])

##### Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 
##### 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
##### • Add a new book in inventory using method and get all book titles using method
##### • Remove a book if it's out of stock

In [59]:
inventory = { 
    "The Great Gatsby": {"price": 10.99, "quantity": 5}, 
    "Rich dad poor dad": {"price": 8.99, "quantity": 8}, 
    "Harry Potter": {"price": 12.50, "quantity": 2}, }

print("\nAnswer point 1")
# Answer Point 1  adding a new book in inventory

inventory['Poem of Iqbal'] = {"price": 15.08, "quantity": 25}
inventory

Answer point 1

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich dad poor dad': {'price': 8.99, 'quantity': 8},
 'Harry Potter': {'price': 12.5, 'quantity': 2},
 'Poem of Iqbal': {'price': 15.08, 'quantity': 25}}

In [61]:
inventory = { 
    "The Great Gatsby": {"price": 10.99, "quantity": 5}, 
    "Rich dad poor dad": {"price": 8.99, "quantity": 8}, 
    "Harry Potter": {"price": 12.50, "quantity": 2}, }

# Answer Point 2    Book "Rick dad poor dad" is out of stock

inventory.pop("Rich dad poor dad")
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Harry Potter': {'price': 12.5, 'quantity': 2}}

###### Q3. An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
###### products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
###### • Increase the stock of the "Shirt" product (add 50 more units)
###### • Add a new product (e.g., "Smartphone")

In [69]:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
}
# Answer point 1
products[102]['stock'] += 50
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30}}

In [73]:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
}
# Answer point 2   addition as new product.
products[104] = {"name": "SmartPhone", "category": "Electronics", "price": 750, "stock": 70}
products

{101: {'name': 'Laptop',
  'category': 'Electronics',
  'price': 1200,
  'stock': 50},
 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 200},
 103: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 104: {'name': 'SmartPhone',
  'category': 'Electronics',
  'price': 750,
  'stock': 70}}

###### Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set.
###### shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [76]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
set(shopping_list)

{'apple', 'banana', 'grape', 'orange'}

##### Q5. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. 
###### Task: 
###### Create two sets: one for students in "Course A" and one for students in "Course B". 
###### course_a = {"John", "Alice", "Bob", "David"} 
###### course_b = {"Alice", "Eve", "Charlie", "David"}
##### • Find students who are in Course A but not in Course B (difference)
##### • Find students who are only in one of the two courses (symmetric difference)

In [85]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Answer point1    Find the students who are in "Course A" but not in "Course B"
only_in_course_a = course_a - course_b
print(" Students in Course A but not in Course B : ", only_in_course_a)

# Answer point2    students are only in one course
students_only_in_one_courses = course_a ^ course_b
print(" Students are only in one course : ", students_only_in_one_courses)

 Students in Course A but not in Course B :  {'Bob', 'John'}
 Students are only in one course :  {'Bob', 'Eve', 'John', 'Charlie'}

###### Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
###### Hint
###### 1. Initialize a variable to hold the sum (e.g., sum_of_evens).
###### 2. Use a for loop to iterate through all numbers from 1 to 50.
###### 3. Inside the loop, check if the number is even.
###### 4. If the number is even, add it to sum_of_evens.
###### 5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [100]:
sum_of_evens = 0

for num in range(1,51):
    if num % 2 == 0:
        sum_of_evens += num
print(f"Sum of all even numbers between 1 and 50 is {sum_of_evens}")

Sum of all even numbers between 1 and 50 is 650

#### Q7. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.
Hint:
##### 1. Ask the user for a number between 1 and 10 .
###### 2. Use a for loop to iterate through the numbers from 1 to 10.
###### 3. For each iteration, calculate the product of the given number and the current number in the 
###### loop.
###### 4. Print the result in a readable format (e.g., 5 x 1 = 5).
###### 5. Ensure the program works correctly for any number between 1 and 10.
###### Output Hint:
######  4 x 1 = 4
######  4 x 2 = 8
######  4 x 3 = 12
######  4 x 4 = 16
######  4 x 5 = 20
######  4 x 6 = 24
######  4 x 7 = 28
######  4 x 8 = 32
######  4 x 9 = 36
######  4 x 10 = 40

In [126]:
num = int(input(" Enter number between 1 and 10 : "))
if num >0 and num<=10:
    for i in range(num,num*11,num):
        print(f"{num} x {i//num} = {i}")
else:
    print("number is out of range")

 Enter number between 1 and 10 :  2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

###### Q8. Power of a Number
###### Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:
###### 3^1 = 3
##### 3^2 = 9
###### 3^3 = 27
###### ... up to 3^10.

In [128]:
num = int(input("you number is : "))
power = 1
while power <= 10:
    result = num**power
    print(f"{num} ^ {power} = {result}")
    power += 1

you number is :  2

2 ^ 1 = 2
2 ^ 2 = 4
2 ^ 3 = 8
2 ^ 4 = 16
2 ^ 5 = 32
2 ^ 6 = 64
2 ^ 7 = 128
2 ^ 8 = 256
2 ^ 9 = 512
2 ^ 10 = 1024

######  Q9.  Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished
######  Output Hint:
###### Enter a number to start the countdown:  3
###### 3
###### 2
###### 1
###### 0
###### Countdown finished!

In [131]:
num =  int(input("Enter a number : "))
while num >=0:
    print(num)
    num = num-1
    # number -= 1
        
print("Countdown finished!")

Enter a number :  5

5
4
3
2
1
0
Countdown finished!

###### Q10. Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.
###### Ensure spaces separate the stars in each row, and each row starts on a new line.
###### Pattern:
###### *
###### **
###### ***
###### ****
###### *****

In [140]:
n = int(input("enter a number " ))
for i in range(1,n+1):
    print(" *"*i)

enter a number  6

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *